/* global declarations  */


body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.25rem;
    color:rgb(21, 21, 27);
    line-height: 1.5;
    margin: 0 auto;
    min-width: 60vw;
    max-width: 70vw;
    
}

h2{
    font-weight: 700;
    font-size: 2rem;
}

a{
    text-decoration: none;
    color: rgb(43, 43, 73);
}

a:hover{
    text-decoration: underline;
    color: rgb(82, 70, 4);
}

/*  top declarations  */


.topo{
    display: flex;
    justify-content: center;
    align-items: center; 
    margin-top: 50px;
   
}

header{
    display: flex;
    justify-content: center;
    
}


.titulo{
    box-sizing: border-box;
    width: 100%;
    background: chartreuse;
    padding: 25px;

}

.img-titulo{
    background: red;
    box-sizing: border-box;
    width:100%; 
    padding: 25px;

}

img{
    max-width: 100%;
    max-height: 100%;

}

/* body and main declarations  */



.corpo{
    background-color: rgb(134, 43, 61);
    padding: 25px;

}

.bloco1{
    background: cornflowerblue;
    padding: 10px 150px; 
    text-align: center;
    font-size: 1rem;

}

 h3{
    text-transform: uppercase;
    font-weight: bold;
    

}

.bloco2{
    background: darkgoldenrod;
    display: flex;
    font-size: 1.25rem;
    padding: 20px;
    gap: 10px;
    

}

.img-coluna{
    box-sizing: border-box;
    width:100%; 
    padding: 25px;

}



/*  footer declarations  */


.rodape{
    background-color: tomato;
    text-align: center;
    padding: 20px;

}













