body{
    font-family: 'Roboto Condensed', sans-serif;
    font-size:1rem;
    color:rgb(31, 31, 37);
    background-color: burlywood;

    display: flex;
    flex-direction: column;
    padding: 1em;
    align-items: center;
    align-content: center;
}

.topo{
    background-color: rgb(128, 218, 221);
    padding: 25px;
    display: grid;
    grid-template-rows: 60% 40%;
    
}

header{
    background-color: seagreen;
}

.titulo{
     background-color: brown;
     max-width: 60%;
}

.img-titulo{
    background-color: slategrey;
    max-width: 80%;
    max-height: 80%;
}
.corpo{
    background-color: crimson;
    padding: 25px;
}

main{
    background-color: steelblue;
}

.img-coluna{
        max-height: 400px;
}

.rodape{
    background-color: tomato;
}